*{
    margin: 0;
    padding: 0;

}
body {
    /* background: linear-gradient(to left, #22def7, #90bbe7); light blue to white gradient */
    
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  